<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Use one of these codes to reset your password</h1>
    <%= @code.pop %>
    <br>
    <%= @code.pop %>
    <br>
    <%= @code.pop %>
    <br>
    <%= @code.pop %>
    <br>
    <%= @code.pop %>
    <p></p>
  </body>
</html>