<p id="notice"><%= notice %></p>

<h1>Presets</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presets.each do |preset| %>
      <tr>
        <td><%= preset.email %></td>
        <td><%= preset.code %></td>
        <td><%= link_to 'Show', preset %></td>
        <td><%= link_to 'Edit', edit_preset_path(preset) %></td>
        <td><%= link_to 'Destroy', preset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preset', new_preset_path %>
