<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @preset.email %>
</p>

<p>
  <strong>Code:</strong>
  <%= @preset.code %>
</p>

<%= link_to 'Edit', edit_preset_path(@preset) %> |
<%= link_to 'Back', presets_path %>
